// Hotelio palette
$lime-cream: #ddfcadff !default;
$lime-cream-2: #c8e087ff !default;
$palm-leaf: #95a472ff !default;
$dusty-olive: #82846dff !default;
$dim-grey: #646165ff !default;

// Bootstrap/AdminLTE color aliases
$blue: $dim-grey !default;
$indigo: $dusty-olive !default;
$purple: $palm-leaf !default;
$pink: $dusty-olive !default;
$red: $dim-grey !default;
$orange: $lime-cream-2 !default;
$yellow: $lime-cream-2 !default;
$green: $palm-leaf !default;
$teal: $palm-leaf !default;
$cyan: $lime-cream-2 !default;

$primary: $dim-grey !default;
$secondary: $dusty-olive !default;
$success: $palm-leaf !default;
$info: $lime-cream-2 !default;
$warning: $lime-cream-2 !default;
$danger: $dusty-olive !default;
$light: $lime-cream !default;
$dark: $dim-grey !default;

$body-bg: $lime-cream !default;
$body-color: $dim-grey !default;
